

<div class="container">
    <div class="row">
    <h3 class="p-3"><span class="header">投稿一覧</span></h3>
  </div>
    <div class ="wrapper grid-post">
      <% @posts.each do |post| %>
        <div class="card" style="width: 20rem;">
          <div class="card-header">
            <%= link_to customer_path(post.customer) do %>
            投稿者：<%= post.customer.nickname %>
            <% end %>
          </div>
          <%= link_to post_path(post) do %>
            <div class="card-img-top">
              <%= image_tag post.image, size: '318x318' %>
            </div>
          <% end %>
          <div class="card-body">
            <div class="card-text">
              <%= post.caption %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
