<div class= "container">
  <div class= "row">
    <div class= "col">
      <%= image_tag @post.image.variant( resize: "800x500" ), class: 'post_image' %>
    </div>
    <div class = "col">
      <%= link_to(@post.customer) do %>
      <%= image_tag @customer.profile_image, size: "100x100", class: 'profile_image' %>
      <% end %>
      <%= @customer.nickname %>
      <%= @post.created_at.strftime('%Y/%m/%d %H:%M') %>
      <%= render "public/favorites/btn", post: @post %>
      <%= @post.caption %>
      <%= @customer.name %>
      <%= render "public/comments/index", post: @post, comment: @comment %>
      <%= render "public/comments/form", post: @post, comment: @comment %>
    </div>
  </div>
</div>