<h1>Public::Posts#show</h1>
<p>Find me in app/views/public/posts/show.html.erb</p>
<%= image_tag @post.image, size: '100%x100%', class: 'post_image' %>

<%= @customer.nickname %>
<%= @post.caption %>

<%= @customer.name %>

<%= render "public/comments/index", post: @post, comment: @comment %>
<%= render "public/comments/form", post: @post, comment: @comment %>
