
<div class="container">
	<div class="profile">
		<div class="profile-image">
      <%= image_tag @cat.cat_image, size: '300x300', class: 'cat_image' %>
		</div>
		<div class="profile-user-settings">
			<h1 class="profile-user-name"><%= @cat.cat_name %></h1>
			<% if @cat.customer == current_customer %>
        <%= link_to "edit", edit_cat_path(@cat), class: 'btn btn-secondary' %>
      <% end %>
		</div>
		<div class="profile-bio">
			<p><div class="profile-real-name"><%= @cat.gender_i18n %></div>
			  <p style="white-space:pre-wrap;"><%= @cat.introduction %></p>
			  <p style="white-space:pre-wrap;"><%= @cat.other %></p>
      </p>
		</div>
	</div>
</div>