<h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_customer.id %>">
  <div class="container-chat">
    <%= @customer.name %> さんとのチャット
  </div>
</h1>

<div class="box-chat">
  <div class="message">
    <% @chats.each do |chat| %>
      <% if chat.customer_id == current_customer.id %>
        <div class="balloon-color right">
          <div class="chatting-color">
            <p class="text-color">
              <%= chat.message %>
            </p>
          </div>
        </div>
      <% else %>
        <div class="balloon-color left">
          <div class="chatting-color">
            <p class="text-color">
              <%= chat.message %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3">
  <%= form_with model: @chat, data: {remote: true} do |f| %>
    <%= f.text_field :message, class: "form-control" %>
    <%= f.hidden_field :room_id %>
    <%= f.submit "送信", class: "btn btn-success" %>
  <% end %>
  </div>
</div>


