
<%= render "public/shared/error_messages", resource: resource %>
<div class="box-1">
  <div class="box-inner">
    <h1>新規登録</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <div class="box-name">
              <div class="column-left">
        <%= f.label :id, 'ログインID' %>
        </div>
        <%= f.text_field :name, placeholder: "半角英数字で入力してください", autofocus: true, autocomplete: "name" %>
      </div>

      <div class="box-name">
        <div class="column-left">
          <%= f.label :名前 %>
        </div>
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
      </div>

      <div class="box-email">
        <div class="column-left">
          <%= f.label :メールアドレス %>
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="box-password">
        <div class="column-left">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <% end %>
        </div>
        <%= f.password_field :password, placeholder: "最低6文字必要です", autocomplete: "new-password" %>
      </div>

      <div class="box-password">
        <div class="column-left">
          <%= f.label :もう一度パスワードを入力してください %><br />
        </div>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "登録", class: "btn btn-success" %>
      </div>
    <% end %>
    <%= render "public/shared/links" %>
  </div>
</div>