<!DOCTYPE html>
<html>
  <head>
    <title>Necomu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/9f57df5a0b.js" crossorigin="anonymous"></script>

  </head>
  <header>
    <%= link_to "my page", posts_path, class: "fas-home" %>
    <%= link_to "sign out", destroy_customer_session_path, method: :delete %>
    <%= link_to new_post_path do %>
      <i class="fas fa-plus"></i>新規投稿
    <% end %>

  </header>

  <body>
    <%= yield %>
  </body>
</html>
